@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: rgb(226 232 240);
}

.courgette-regular {
    font-family: "Courgette", cursive;
    font-weight: 400;
    font-style: normal;
  }
  