*{

    
}

.success {

    color: #0ab84c;
}
.failure {

    background-color: rgba(255, 0, 0, 0.3);
}

.current {
    text-decoration: underline;
}

.textbox {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    
    padding: 1rem;
    font-size: large;
    font-family: "Lucida Console", ui-monospace, "Cascadia Mono", "Segoe UI Mono", "Liberation Mono", Menlo, Monaco, Consolas, monospace;
    line-height: 2rem;
}

.textbox-selected {
    background-color: #f5f5dd;
}

.textbox-unselected {
    background-color: #ddddc6;
}